<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title> - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body id="mai">

<!-- ======= Header ======= -->
<header class="fixed-top" id="header">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="#">Softprodigy</a></h1>

        <nav class="navbar" id="navbar">
            <ul>
                <li><span onclick="openNav()" style="font-size:30px;cursor:pointer">&#9776; </span></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
    <div class="sidenav" id="mySidenav">
        <ul>
            {% if user.is_authenticated %}
            <li><a class="closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a></li>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <li><a class="nav-link scrollto o" href="#portfolio">Portfolio</a></li>
            <li class="name"> &emsp; Hello, {{ user.username }}</li>
            <li><a class="nav-link scrollto active" href="/myBlog">My Blog</a></li>
            <li><a class="nav-link scrollto active" href="/AddBlog">Add Post</a></li>
            <li><a class="nav-link scrollto active" href="/logout">Logout</a></li>
            {% else %}
            <li><a class="closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a></li>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <li><a class="nav-link scrollto o" href="#portfolio">Portfolio</a></li>
            <li><a class="nav-link scrollto o" href="/register">Sign-Up</a></li>
            <li><a class="nav-link scrollto o" href="/login">Login</a></li>
            {% endif %}
        </ul>

    </div>
    <div id="preloader"></div>
<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/assets/vendor/purecounter/purecounter.js"></script>
<script src="/static/assets/vendor/aos/aos.js"></script>
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/assets/js/main.js"></script>
<script>
    function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("mai").style.marginLeft = "250px";
  document.getElementById("header").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("mai").style.marginLeft= "0";
  document.getElementById("header").style.marginLeft = "0px";
  document.body.style.backgroundColor = "white";
}

function myFunction() {
  alert("Your information submitted succesfully");
}
</script>
</header>