<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Softprodigy</h4>
                    <p>
                       Offering High-tech Solutions to Enterprises, Startups, and Small Businesses . If you’re new to the world of digital business or if you’re still grabbing ideas on how to make the most of the digital market, we’re here to help!
                    </p>
                </div>


            </div>
        </div>
    </div>
    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Softprodigy</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://softprodigy.com/">Softprodigy</a>
            </div>
        </div>
         <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a class="twitter" href="https://twitter.com/SoftProdigy?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"  target="_blank"><i class="bx bxl-twitter"></i></a>
            <a class="facebook" href="https://www.facebook.com/softprodigysolutions/" target="_blank"><i class="bx bxl-facebook"  ></i></a>
            <a class="instagram" href="https://www.instagram.com/softprodigy_official/?hl=en" target="_blank"><i class="bx bxl-instagram"  ></i></a>
<!--            <a class="google-plus" href="#"><i class="bx bxl-skype"></i></a>-->
            <a class="linkedin" href="https://www.linkedin.com/company/softprodigy/mycompany/" target="_blank"><i class="bx bxl-linkedin"  ></i></a>
        </div>
    </div>
</footer><!-- End Footer -->